/* Estilo general */
:root {
  --primary--color: #688EBD;
  --secondary--color: #4760A2;
  --thrity--color: #D5D2D0;
  --quarte--color: #D8CF9C;
  --fifth--color: #f0f0f0f0;
  --font--family: "JetBrains Mono", monospace;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

html, body{
  scroll-behavior: smooth;
  font-family: var(--font--family);
  background-color: var(--quarte--color);
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.8em; text-align: center;}
h3{ font-size: 2em;}
h4{ font-size: 1.8em;}
p{ font-size: 1.25em; text-align: center;}

button{
  font-size: 1.3em;
  padding: 5px 15px;
  border-radius: 10px;
  border-style: inherit;
  background-color: var(--primary--color);
  color: black;
  cursor: pointer;
}

button:hover{
  background-color: var(--quarte--color);
  font-weight:bold;
}

/* Header */
.container {
  max-width: 100%;
  margin: 0 auto;
  background-color: var(--secondary--color);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 25px;
  position: relative;
}

.logo-img {
  height: 30px;
  width: auto;
}

.logo-img:hover {
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  transition: 0.6s ease;
  -webkit-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  height: 40px;
}

.logo-img ::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
 
  transform: scaleX(0);
  transition: transform 1s ease;
  -webkit-transition: transform 1s ease;
  -moz-transition: transform 1s ease;
  -ms-transition: transform 1s ease;
  -o-transition: transform 1s ease;
}

.logo-img :hover::after {
  transform: scaleX(1);
}

.menu-toggle {
  display: none;
}

.menu-button {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
  content: '';
  position: absolute;
  background-color: white;
  height: 3px;
  width: 100%;
  transition: all 0.3s ease;
}

.menu-icon {
  top: 50%;
  transform: translateY(-50%);
}

.menu-icon::before {
  top: -8px;
}

.menu-icon::after {
  bottom: -8px;
}

.nav {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 0.875rem;
  transition: opacity 0.3s;
  margin: 0 1rem;
  transition: transform 0.5s ease, font-size 0.5s ease, text-shadow 0.5s ease;
  -webkit-transition: transform 0.5s ease, font-size 0.5s ease, text-shadow 0.5s ease;
  -moz-transition: transform 0.5s ease, font-size 0.5s ease, text-shadow 0.5s ease;
  -ms-transition: transform 0.5s ease, font-size 0.5s ease, text-shadow 0.5s ease;
  -o-transition: transform 0.5s ease, font-size 0.5s ease, text-shadow 0.5s ease;
}

.nav-link:hover {
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
  font-size: 20px;
}

.nav-links ::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
}

.nav-links :hover::after {
  transform: scaleX(1);
}

.icons {
  display: flex;
  gap: 1.5rem;
}

.icon-link img{
  height: 30px;
  width: auto;
}

.curve {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  background-color: var(--quarte--color);
  border-radius: 50% 50% 0 0;
}
/*///////////////////////////////////////////////////////////////////////////////////////*/

/* Conversor */
#convertidor{
  margin: 10px;
  padding: 20px;
  background-color: var(--thrity--color);
  border-radius: 25px;
  max-width: 100%;
  overflow: hidden;
  border: 5px solid var(--primary--color);
}

.moneda{
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.moneda select{
  padding: 10px 20px 10px 10px;
  appearance: none;
  border-radius: 10px;
  background-color: var(--primary--color);
  width: 30%;
}

.moneda input{
  border: 0;
  text-align: right;
  font-size: 1em;
  width: 70%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--primary--color);
}

/* Contacto */
#contacto{
  margin: 10px;
  padding: 20px;
  background-color: var(--thrity--color);
  border-radius: 25px;
  max-width: 100%;
  overflow: hidden;
  border: 5px solid var(--primary--color);
}
#contacto textarea#consulta {
  display: block;
  margin: 0 auto;
  border: 0;
  padding: 10px;
  border-radius: 10px;
  width: 100%; /* Ajusta el ancho al contenedor */
  max-width: 100%; /* Asegura que no se desborde */
  box-sizing: border-box;
  resize: none; /* Opcional: evita que el usuario cambie el tamaño */
}
.botones{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.botones .boton{
  background-color: var(--fifth--color);
  padding: 10px;
}
.datos input{
  border: 0;
  padding: 5px;
  margin: 5px 0px 15px 0px;
  font-size: 1em;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--fifth--color);
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary--color);
  padding: 20px;
  text-align: center;
}

footer .contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
}

footer .parte1,
footer .parte2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 15px; 
}

footer .parte1,
footer .parte2 {
  width: 100%;
}

footer .redes a {
  display: inline-block;
  margin: 0 10px;
}

.box img{
  width: 30px;
}

.logo img{
  width: 80px;
}

/* Estilo para la navegación header responsive */
@media (max-width: 768px) {
  .menu-button {
    display: block;
    order: 2;
  }

  .logo-t {
    order: 1;
  }

  .icons {
    order: 3;
  }

  .nav {
    
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #304479;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0;
    -webkit-box-shadow: 0px -10px 5px 0px rgba(57,82,143,0.29);
    -moz-box-shadow: 0px -10px 5px 0px rgba(57,82,143,0.29);
    box-shadow: 0px -10px 5px 0px rgba(57,82,143,0.29);

}

  .menu-toggle:checked ~ .nav {
    display: flex;
    padding: 1rem 0;
  }

  .menu-toggle:checked ~ .menu-button .menu-icon {
    background-color: transparent;
  }

  .menu-toggle:checked ~ .menu-button .menu-icon::before {
    transform: rotate(45deg);
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  
}

  .menu-toggle:checked ~ .menu-button .menu-icon::after {
    transform: rotate(-45deg);
    bottom: 0;
  }

  .nav-link {
    font-size: 1rem;
    margin: 0.5rem 0;
  }

  .header-content {
    flex-wrap: wrap;
  }
}

@media (min-width: 595px) {
  
  /* Footer */
  footer .parte1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 10px;
  }

  footer .parte2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 10px;
  }

  footer .parte1, .parte2 p {
    font-size: 10px;
  }

  .logo-footer img{
    width: 100px;
  }

  .logo img{
    width: 80px;
  }

  .logo-f {
    position: relative;
    right: 30px;
  }

}