:root {
  --primary--color: #688EBD;
  --secondary--color: #4760A2;
  --thrity--color: #D5D2D0;
  --quarte--color: #D8CF9C;
  --fifth--color: #f0f0f0f0;
  --font--family: "JetBrains Mono", monospace;
}

*{
  box-sizing: border-box;
}

